.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --gap: 30px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ----------------common---------------- */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.primary-text-color {
  color: var(--primary-text-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}

.logo-accent-color {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------header---------------- */

header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000;
  margin-right: 93px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
}

.nav-menu .link.current {
  color: var(--accent-color);
}

.nav-menu-li:not(:last-child) {
  margin-right: 50px;
}

.mail-tel {
  display: flex;
  margin-left: auto;
}

.mail-tel-li:not(:last-child) {
  margin-right: 50px;
}

.mailto-icon::before {
  background-image: url(../images/index/original/svg/envelope.svg);
  margin-right: 10px;
  width: 16px;
  height: 12px;
  content: '';
  display: inline-flex;
}

.tel-icon::before {
  background-image: url(../images/index/original/svg/smartphone.svg);
  margin-right: 10px;
  width: 10px;
  height: 16px;
  content: '';
  display: inline-flex;
}

/* ----------------main index.html---------------- */

.bg-order-service {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
  height: 600px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/index/bg.jpg);
}
/* outline: 10px solid blue; */
/* background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/bg.jpg);*/

.index-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.button-order-service {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
}

.no-padding-bottom {
  padding-top: 94px;
}

.ul-our-features {
  display: flex;
  /* outline: 1px solid green; */
}

.li-our-features {
  width: 270px;
  /* outline: 1px solid green; */
}

.li-our-features:not(:last-child) {
  margin-right: 30px;
}

.li-our-features::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}

.li-our-features.antenna::before {
  background-image: url(../images/index/original/svg/antenna.svg);
}

.li-our-features.clock::before {
  background-image: url(../images/index/original/svg/clock.svg);
}

.li-our-features.diagram::before {
  background-image: url(../images/index/original/svg/diagram.svg);
}

.li-our-features.astronaut::before {
  background-image: url(../images/index/original/svg/astronaut.svg);
}

.index-h3-our-features {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

.index-p-our-features {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.index-h2-what-we-do {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.ul-what-we-do {
  display: flex;
  /* outline: 1px solid green; */
}

.li-what-we-do:not(:last-child) {
  margin-right: 30px;
}

.bg-color-team {
  background-color: #f5f4fa;
}

.index-h2-our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.ul-team {
  display: flex;
  /* outline: 1px solid green; */
  background-color: #fff;
}

.li-team {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* outline: 1px solid green; */
}

.li-team:not(:last-child) {
  margin-right: 30px;
}

.index-h3-p-member-of-team-div {
  padding: 30px 0;
}

.index-h3-member-of-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.index-p-member-of-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  padding-bottom: 16px;
}

/* .index-h3-p-member-of-team-div::after {
  display: block;
  content: '';
  width: 206px;
  height: 44px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/index/original/svg/instagram.svg),
    url(../images/index/original/svg/facebook.svg), url(../images/index/original/svg/twitter.svg),
    url(../images/index/original/svg/linkedin.svg);
  background-size: 44px, 44px, 44px, 44px;
  background-position: left center, right 54px center, right 108px center, right 0 center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
} */

.index-member-of-team-ul-links {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}
/* justify-content: space-between; */

.index-member-of-team-li-links {
  display: flex;
}

.index-member-of-team-li-links:not(:last-child) {
  margin-right: 10px;
}

.index-member-of-team-a-links {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  color: transparent;
}

.instagram {
  background-image: url(../images/icons.svg#icon-instagram);
  /* background-image: url(../images/index/original/svg/instagram.svg); */
  /* color: rgba(255, 255, 255, 0); */
  /* background-size: 44px; */
}

.twitter {
  background-image: url(../images/icons.svg#icon-twitter.svg);
}

.facebook {
  background-image: url(../images/icons.svg#icon-facebook.svg);
}

.linkedin {
  background-image: url(../images/icons.svg#icon-linkedin.svg);
}

.clients-h2 {
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  padding-bottom: 50px;
}

.clients-ul {
  display: flex;
}

.clients-li {
  outline: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  padding: 16px 32px;
}

.clients-li:not(:last-child) {
  margin-right: 30px;
}

.clients-svg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* .clients-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
} */

.icon-antenna {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon {
  width: 350px;
  height: 350px;
  color: rgb(17, 16, 15);
}

.letter {
  stroke: red;
  stroke-linejoin: bevel;
  fill: red;
  width: 350px;
  height: 350px;
}

.bg1 {
  stroke-linejoin: bevel;
  fill: rgb(153, 187, 28);
  stroke: #123edb;
}

.bg {
  stroke: black;
  fill: grey;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon:hover .letter {
  fill: royalblue;
  stroke: violet;
  stroke-linejoin: round;
  stroke-dasharray: 12% 5%;
}

.icon:hover .bg {
  fill: currentColor;
  stroke: greenyellow;
}

.icon:hover .bg1 {
  fill: orange;
}

/* ----------------main portfolio.html---------------- */

.ul-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* max-width: 611px; */

.li-button:not(:last-child) {
  margin-right: 8px;
}

.button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
}
/* 
.all {
} */
/* min-width: 73px; */
/* 
.web-sites {
} */
/* min-width: 128px; */
/* 
.applications {
} */
/* min-width: 145px; */
/* 
.design {
} */
/* min-width: 103px; */

/* .marketing {
} */
/* min-width: 130px; */

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}
/* flex-basis: 1170px; */

.portfolio-ul > .portfolio-ul-li {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* outline: 1px solid tomato; */
}

.portfolio-h3-p {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* min-width: 322px; */

.portfolio-h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* ----------------footer---------------- */

.footer-wrapper {
  background-color: #2f303a;
  padding: 60px 0;
}
/* border: 10px solid green; */

.footer {
  display: flex;
  width: 507px;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo-address-container {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  color: #fff;
}
/* margin-top: 60px; */

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  margin-top: 20px;
}

.footer-address-p {
  margin-bottom: 9px;
}

.footer-address-li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-wrapper-join {
  width: 206px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-p-join {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-ul-join {
  display: flex;
}
/* justify-content: space-between; */

.footer-li-join {
  display: flex;
}

.footer-li-join:not(:last-child) {
  margin-right: 10px;
}

.footer-a-join {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  border-radius: 50%;
  color: transparent;
}

.footer-a-join:hover,
.footer-a-join:focus {
  background-color: var(--accent-color);
}

.footer-instagram {
  background-image: url(../images/icons.svg#icon-instagram);
}

.footer-twitter {
  background-image: url(../images/icons.svg#icon-twitter);
  /* background-image: url(../images/index/original/svg/footer/twitter-f.svg); */
}

.footer-facebook {
  background-image: url(../images/icons.svg#icon-facebook);
}

.footer-linkedin {
  background-image: url(../images/icons.svg#icon-linkedin);
}
